((*- extends 'article.tex.j2' -*))

((* block packages *))
\usepackage[a4paper,margin=10mm]{geometry}   % small margins
\usepackage{microtype}                       % better kerning and font rendering
\usepackage{lmodern}                         % vector fonts
\usepackage[T1]{fontenc}
\usepackage{setspace}
\setstretch{1.05}
((* endblock packages *)).\.venv\Scripts\python.exe -m jupyter nbconvert .\Reports\euronext_report.ipynb --to pdf --template-file .\Reports\templates\report.tex.j2 --output-dir .\build --output euronext_report.pdf